                            * {
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                                font-family: Arial, Helvetica, sans-serif;
                            }
                            
                            body {
                                width: 100%;
                                margin: 0;
                                padding: 0;
                                font-family: Arial, Helvetica, sans-serif;
                            }
                            
                            button.normal {
                                font-size: 15px;
                                font-weight: 600;
                                padding: 15px 30px;
                                color: #000;
                                background-color: #fff;
                                border-radius: 4px;
                                border: none;
                                cursor: pointer;
                                outline: none;
                                transition: 0.2s;
                                margin-bottom: 30px;
                            }
                            
                            button .white {
                                font-size: 13px;
                                font-weight: 600;
                                padding: 11px 18px;
                                color: #fff;
                                background-color: transparent;
                                border: 1px solid #fff;
                                cursor: pointer;
                                outline: none;
                                transition: 0.2s;
                            }
                            
                            h1 {
                                font-size: 50px;
                                line-height: 64px;
                                font-weight: bold;
                                color: #222;
                            }
                            
                            h2 {
                                font-size: 48px;
                                line-height: 54px;
                                font-weight: bold;
                                color: #222;
                            }
                            
                            h3 {
                                font-size: 20px;
                                line-height: 30px;
                                font-weight: bold;
                                color: #222;
                            }
                            
                            p {
                                font-size: 16px;
                                color: #465b52;
                                margin: 15px 0 15px 0;
                            }
                            
                            .section-p1 {
                                padding: 40px 80px;
                            }
                            
                            .section-m1 {
                                margin: 48px 0;
                            }
                            /* html page start  */
                            
                            .navbar {
                                width: 100%;
                                height: 20px;
                            }
                            
                            .nav-list.active {
                                right: 0;
                            }
                            
                            .nav-list {
                                margin: 0;
                                padding: 0;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                list-style: none;
                                padding: 20px 80px;
                                background: #adaaaa;
                                box-shadow: 0px 5px 15px rgb(0, 0, 0.6);
                                z-index: 999;
                                position: sticky;
                                top: 0;
                                left: 0;
                            }
                            
                            ul a img {
                                width: 40px;
                                height: 40px;
                            }
                            
                            .nav-item {
                                display: inline-block;
                                padding: 0;
                                position: relative;
                            }
                            
                            .nav-item a {
                                display: block;
                                text-decoration: none;
                                color: #222;
                                font-size: 20px;
                                font-weight: bold;
                                text-decoration: none;
                                transition: 0.3s ease-in;
                                text-transform: capitalize;
                                box-sizing: border-box;
                                outline: none;
                            }
                            
                            .nav-item a:hover,
                            .nav-item a.active {
                                color: #4f9af0;
                            }
                            
                            .nav-item a.active::after,
                            .nav-item a:hover::after {
                                content: "";
                                width: 40px;
                                height: 2px;
                                background: #4f9af0;
                                position: absolute;
                                bottom: -4px;
                                left: 3px;
                            }
                            /* home page end */
                            
                            #hero {
                                background-image: url(img/hero4.png);
                                height: 90vh;
                                width: 100%;
                                background-position: top 20% left 0;
                                background-size: cover;
                                padding: 10px 50px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                            }
                            
                            #hero h3 {
                                color: black;
                            }
                            
                            #hero h1 {
                                color: rgb(243, 236, 36);
                            }
                            
                            #hero button {
                                background-image: url(img/3.jpg);
                                background-color: transparent;
                                color: #4f9af0;
                                border: 0;
                                padding: 14px 80px 14px 65px;
                                background-repeat: no-repeat;
                                cursor: pointer;
                                font-weight: 700px;
                                font-size: 18px;
                            }
                            /* home page start */
                            /* features start */
                            
                            #feature {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                            
                            #feature .fe-box {
                                width: 180px;
                                text-align: center;
                                padding: 25px 15px;
                                box-shadow: 20px 20px 34px rgba(0, 0, 0, .1);
                                border: 1px solid #ffcc7f;
                                border-radius: 4px;
                                margin: 15px 0;
                            }
                            
                            #feature .fe-box:nth-child(2) {
                                background: #fddddd;
                            }
                            
                            #feature .fe-box:nth-child(3) {
                                background: #fddddd;
                            }
                            
                            #feature .fe-box:nth-child(4) {
                                background: #fddddd;
                            }
                            
                            #feature .fe-box:nth-child(5) {
                                background: #fddddd;
                            }
                            
                            #feature .fe-box:nth-child(6) {
                                background: #fddddd;
                            }
                            
                            #feature .fe-box:hover {
                                box-shadow: 10px 10px 54px rgba(70, 6 0, 220, 0.1);
                            }
                            
                            #feature .fe-box img {
                                width: 100%;
                                margin-bottom: 10px;
                            }
                            
                            #feature .fe-box h3 {
                                display: inline-block;
                                font-size: 15px;
                                color: #222;
                                padding: 9px 8px 6px 8px;
                                line-height: 1px;
                                border-radius: 4px;
                                background-color: #fddddd;
                            }
                            /* home page end */
                            /* shop page start  */
                            /* product section */
                            
                            #product1 {
                                text-align: center;
                            }
                            
                            #product1 .pro-container {
                                display: flex;
                                justify-content: space-between;
                                padding-top: 20px;
                                flex-wrap: wrap;
                            }
                            
                            #product1 .pro {
                                width: 23%;
                                min-width: 250px;
                                padding: 10px 12px;
                                border: 1px solid #cce7d0;
                                border-radius: 25px;
                                cursor: pointer;
                                box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
                                margin: 15px 0;
                                transition: 0.2s ease;
                                position: relative;
                            }
                            
                            #product1 .pro:hover {
                                box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
                            }
                            
                            #product1 .pro img {
                                width: 100%;
                                border-radius: 20px;
                            }
                            
                            #product1 .pro .des {
                                text-align: start;
                                padding: 10px 0;
                            }
                            
                            #product1 .pro .des span {
                                color: #1fd31f;
                                font-size: 15px;
                                font-weight: bold;
                            }
                            
                            #product1 .pro .des h3 {
                                padding: 7px;
                                color: #4f9af0;
                                font-size: 14px;
                            }
                            
                            #product1 .pro .des i {
                                font-size: 12px;
                                color: rgb(240, 225, 18);
                            }
                            
                            #product1 .pro .des h3 {
                                padding-top: 7px;
                                font-size: 15px;
                                font-weight: bold;
                                color: #4f9af0;
                            }
                            
                            #product1 .pro .cart {
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                border-radius: 50px;
                                background-color: #33c949;
                                font-weight: 700;
                                color: #1cdede;
                                border: 1px solid #dfdf23;
                                position: absolute;
                                bottom: 20px;
                                right: 10px;
                            }
                            /* banner start */
                            
                            #banner {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                width: 100%;
                                height: 40vh;
                                background-image: url(img/banner/bg1.png);
                                background-size: cover;
                                background-position: center;
                            }
                            
                            #banner h3 {
                                color: #ffcc7f;
                                font: 16px;
                                padding-top: 40px;
                            }
                            
                            #banner h2 {
                                color: #ffcc7f;
                                font: 30px;
                            }
                            
                            #banner h2 span {
                                color: #ffcc7f;
                                font: 30px;
                                padding: 30px 0;
                            }
                            
                            #banner button {
                                background: #1cdede;
                                border: 1px solid #1cdede;
                            }
                            
                            #banner button:hover {
                                background: #bcd3d3;
                                border: 1px solid #1cdede;
                            }
                            /* banner box */
                            
                            #sm-banner {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                            }
                            
                            #sm-banner .banner-box1 {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                min-width: 450px;
                                height: 50vh;
                                background-image: url(img/products/box1.webp);
                                background-size: cover;
                                background-position: center;
                                overflow: hidden;
                                padding: 30px;
                            }
                            
                            #sm-banner .banner-box2 {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                min-width: 450px;
                                height: 50vh;
                                background-image: url(img/bag.jpg);
                                background-size: cover;
                                background-position: center;
                                overflow: hidden;
                                padding: 30px;
                            }
                            
                            #sm-banner h3 {
                                font-size: 20px;
                                color: #fff;
                            }
                            
                            #sm-banner h2 {
                                font-size: 30px;
                                color: #fff;
                            }
                            
                            #sm-banner span {
                                font-size: 20px;
                                color: #fff;
                                padding-bottom: 20px;
                            }
                            
                            #sm-banner .banner-box2 h3 {
                                font-size: 20px;
                                color: rgb(204, 133, 11);
                            }
                            
                            #sm-banner .banner-box2 h2 {
                                font-size: 30px;
                                color: rgb(130, 11, 11);
                            }
                            
                            #sm-banner .banner-box2 span {
                                font-size: 20px;
                                color: rgb(187, 228, 8);
                                padding-bottom: 20px;
                            }
                            
                            #sm-banner .banner-box button {
                                font-size: 15px;
                                font-weight: 600;
                                padding: 15px 30px;
                                color: #fff;
                                background-color: transparent;
                                border-radius: 4px;
                                border: 4px solid #fff;
                                cursor: pointer;
                                outline: none;
                                margin-bottom: 30px;
                            }
                            
                            #sm-banner button:hover {
                                background: #065656;
                                border: 1px solid #fff;
                            }
                            /* banner 3 :start */
                            
                            #banner-3 {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                            }
                            
                            #banner-3 .banner-box {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                min-width: 30%;
                                height: 30vh;
                                background-image: url(img/banner/b1.jpg);
                                background-size: cover;
                                background-position: center;
                                overflow: hidden;
                                padding: 20px;
                                margin-bottom: 40px;
                                text-align: center;
                            }
                            
                            #banner-3 .banner-box-2 {
                                background-image: url(img/banner/b2.jpg);
                            }
                            
                            #banner-3 .banner-box-3 {
                                background-image: url(img/banner/b3.jpg);
                            }
                            
                            #banner-3 h2 {
                                color: rgb(234, 25, 25);
                                font-family: 900;
                                font-size: 20px;
                            }
                            
                            #banner-3 h3 {
                                color: rgb(241, 228, 47);
                                font-family: 800;
                                font-size: 15px;
                            }
                            /* news letter start */
                            
                            #news-letter {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                align-items: center;
                                background-image: url(img/banner/bi1.jpg);
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                            
                            #news-letter h2 {
                                font-size: 22px;
                                font-weight: 700;
                                color: #ffff;
                            }
                            
                            #news-letter p {
                                font-size: 16px;
                                font-weight: 600;
                                color: #ffff;
                            }
                            
                            #news-letter p span {
                                font-size: 16px;
                                font-weight: 500;
                                color: rgb(232, 19, 19);
                            }
                            
                            #news-letter .form {
                                display: flex;
                                width: 40%;
                            }
                            
                            #news-letter input {
                                height: 3.125rem;
                                padding: 0 1.25rem;
                                font-size: 18px;
                                width: 100%;
                                border: 1px solid transparent;
                                border-radius: 4px;
                                outline: none;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            
                            #news-letter button {
                                background: #1cdede;
                                color: #ffff;
                                white-space: nowrap;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                            /* footer start */
                            
                            footer img {
                                width: 50px;
                                height: 50px;
                            }
                            
                            footer {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: center;
                            }
                            
                            footer .col {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                margin-bottom: 20px;
                            }
                            
                            footer .logo {
                                margin-bottom: 30px;
                            }
                            
                            footer h2 {
                                font-size: 20px;
                                padding-bottom: 20px;
                            }
                            
                            footer p {
                                font-size: 15px;
                                margin: 0 0 8px 0;
                            }
                            
                            footer a {
                                font-size: 13px;
                                text-decoration: none;
                                color: #222;
                                margin-bottom: 10px;
                            }
                            
                            footer .follow {
                                margin-top: 20px;
                            }
                            
                            footer .follow i {
                                color: #065656;
                                padding-right: 4px;
                                cursor: pointer;
                            }
                            
                            footer .install .row {
                                border: 1px solid #33c949;
                                border-radius: 6px;
                            }
                            
                            footer .install img {
                                margin-top: 10px 0 15px 0;
                            }
                            
                            footer .follow i:hover,
                            footer a:hover {
                                color: #33c949;
                            }
                            
                            footer .copyright {
                                width: 100%;
                            }
                            /* shop page end  */
                            
                            #mobile {
                                display: none;
                                align-items: center;
                            }
                            /* about page start  */
                            /* contract page start  */
                            /* cart page start  */
                            /* responsive */
                            
                            @media (max-width:799) {
                                #nav-list {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    position: fixed;
                                    top: 0;
                                    right: -300px;
                                    height: 100vh;
                                    width: 300px;
                                    background-color: #cce7d0;
                                    box-shadow: 0px 12px 10px 0;
                                    transition: 0.2s;
                                }
                                #nav-list.active {
                                    right: 0;
                                }
                                .nav-lists .nav-item {
                                    margin-bottom: 25px;
                                }
                                #mobile {
                                    display: flex;
                                    align-items: center;
                                }
                                #mobile i {
                                    color: #1cdede;
                                    font-size: 24px;
                                    padding-left: 20px;
                                }
                            }